        <div class="text-center"><LinkTo  @route='index'><img src='/images/wassup.jpg' alt="logo" class="logo"></LinkTo></div>
            <div class="wrapper col-xs-2 text-center">
                <p>In April 2019, Wassup opened its doors in downtown Manhattan and became the home of New York City pop culture. At its core was a group of neighborhood kids, and local artists who became the store’s staff, crew, and customers.</p>
            </div>
{{outlet}}