
 <div class="font-color">
        <div class="jumbotron rounded-0 jumbotron-background-image text-center ">
        <h1><b>Welcome to Wassup!🔥</b></h1>
        <hr class="my-4">
         <p>
          <LinkTo class="btn btn-outline-dark btn-lg btn-text-color" @route='catalog' role="button">shopping</LinkTo>
        </p>
        <p>
        <LinkTo class="btn btn-outline-dark btn-lg btn-text-color" @route='about' role="button">Learn more about us</LinkTo>
        </p>

      </div>
</div>
{{outlet}}